h1,p{
    color: #842a57;
}

body{
    background-color: #254052;
}

.caja1{
    width: 150px;
    height: 130px;
    background-color: rgb(100,50,150);
}

.caja2{
    width: 150px;
    height: 130px;
    background-color: #ba8392;
}

.caja3{
    width: 150px;
    height: 130px;
    background-color: hsl(73, 38%, 50%);
}