h1,p{
    color: #36974e;
}

body{
    background-color: white;
}

.caja1{
    width: 150px;
    height: 130px;
    background-color: rgb(100,50,150);
}

.caja2{
    width: 150px;
    height: 130px;
    background-color: #ba8392;
}

.caja3{
    width: 150px;
    height: 130px;
    background-color: hsl(73, 38%, 50%);
}

#sp1{
    width: 50px;
    height: 50px;
    background-color: rgb(75, 36, 56);
}

a[title]{
    color: aqua;
}

button:hover{
    background-color: green;
}

input:disabled{
    border: 2px solid orange;
}